@plugin "daisyui";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.primary{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}